{% extends "index.html" %}

{% block content %}
<div class="container align-items-center justify-content-center mt-5 content">
    <h1 class="display-5">Registered cars</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr class="table-dark">
                <th scope="col">Id</th>
                <th scope="col">License plate</th>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Color</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
            <tr>
                <th scope="row">{{ car["id"] }}</th>
                <td>{{ car["licensePlate"].upper() }}</td>
                <td>{{ car["brand"].upper() }}</td>
                <td>{{ car["model"].upper() }}</td>
                <td>{{ car["color"] }}</td>
                <td>
                    <a href="{{ url_for('carParkings', id=car['id'], filter=1) }}"><i class="fa-solid fa-receipt"></i></a>
                    &nbsp;
                    <a href="{{ url_for('editCar', id=car['id']) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                    &nbsp;
                    <a href="{{ url_for('deleteCar', id=car['id']) }}"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}